/* VARIABLES */
:root {
    --primary: #4f518c;
    --text: #2c2a4a;
    --lightPink: #907ad6;
    --skin: #dabfff;
    --softgreen: #7FDEFF;
    
  }
  
  /* RESETS */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: var(--text);
  }
  
  body {
    font-family: sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  /* GLOBAL CLASSES */
  .row, .column {
    display: flex;
  }
  
  .column {
    flex-direction: column;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .justify-space-between {
    justify-content: space-between;
  }
  
  .align-center {
    align-items: center;
  }

  /* Custom Styling */

  .logo {
    padding: 20px;
    background-color: var(--lightPink);
    display: inline;
    margin: 70px;
    border-radius: 20px;
    font-size: 20px;
    font-family: monospace;
  }

  header {
    margin: 30px;
  }

  .hero {
    height: 45vh;
    background-color: var(--primary);
    border-radius: 30px;
    margin: 0px 100px 0px 100px;
  }

  .watch, .no-thanks {
    background-color: var(--skin);
    padding: 10px;
    border-radius: 15px;
    margin: 0px 10px 0px 10px;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
    margin-right: 50px;
  }

.genre-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.genres {
    display: flex;
    justify-content: center;
}



.buttonstyle {
    padding: 10px;
    background-color: var(--softgreen);
    border-radius: 15px;
    margin: 10px;
    text-align: center;
}